asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
h5py==3.11.0
idna==3.7
numpy==2.0.0
pandas==2.2.2
psycopg2-binary==2.9.9
pvlib==0.11.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
requests==2.32.3
scipy==1.14.0
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2
